* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1300px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
