* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 40px 20px;
}

a {
  list-style: none;
  text-decoration: none;
}

li {
  list-style: none;
  text-decoration: none;
}

.header_ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.iteam {
  color: #04243d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_2 {
  background-color: #04243d;
  padding: 0px;
}

.a {
  color: white;
}

.header_2_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_2_ul {
  display: flex;
  align-items: center;
  gap: 30px;
}

.btn {
  border: none;
  list-style: none;
  text-decoration: none;
  background-color: #063050;
  color: white;
  padding: 20px 20px;
  border-radius: 10px;
}

.hero_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.p-1 {
  color: #ffffff;
  font-size: 36px;
}

.p-2 {
  color: white;
  max-width: 578px;
}

.btn-1 {
  color: #04243d;
  background-color: #ffffff;
  padding: 10px 20px;
  border: none;
  list-style: none;
  text-decoration: none;
  border-radius: 10px;
}

.btn-2 {
  border: 2px solid white;
  color: white;
  list-style: none;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #04243d;
  border-radius: 10px;
}

.hero {
  background-color: #04243d;
  padding: 200px 0px;
}

.color-1 {
  color: #04243d;
  font-size: 48px;
}

.color {
  color: #04243d;
}

.nimadi_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 40px;
  padding: 80px 200px;
  gap: 50px;
}

.nimadi_wrapper {
  margin-top: -70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.p-1 {
  margin-bottom: 20px;
}
.p-2 {
  margin-bottom: 30px;
}
.nimadi_content {
  max-width: 212px;
  max-height: 189px;
}
.h-2 {
  font-size: 48px;
  color: #04243d;
}
.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nitter {
  background-color: #04243d;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  list-style: none;
  text-decoration: none;
}
.border {
  border: 5px solid #04243d;
  padding: 0px 30px;
  max-width: 10px;
}
.section_content {
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}
.with {
  color: #04243d;
  max-width: 324px;
  margin-top: 20px;
}
.with-1 {
  color: #04243d;
  font-size: 30px;
}
.section_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  margin-top: 100px;
}
.hehe {
  color: #04243d;
  max-width: 619px;
  font-size: 44px;
}
.section-2_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.huhu {
  color: #04243d;
  font-size: 22px;
  max-width: 142px;
}
.nini {
  color: #04243d;
  margin-top: 20px;
}
.section-3_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
}
.section-3_content {
  border-radius: 20px;
}
.hero_niga {
  background-image: url(/img/6aaf081d30b8c4d36b4ddb47ac9ad7ae8badfebc.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
}
.niga_ing {
  max-width: 500px;
  max-height: 500px;
}

.nigerss {
  color: #04243d;
}
.ng-1 {
  max-width: 1249px;
}
.ng-2 {
  max-width: 954px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.ng-3 {
  max-width: 700px;
}
.section_4_wrapper {
  margin-top: 100px;
}
.blue {
  color: #04243d;
  margin-top: 20px;
}
.niggette {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
  text-align: center;
}
.border2 {
  border: 2px solid #04435e;
  max-width: 260px;
  margin-top: 30px;
  border-radius: 20px;
}
.ninini {
  max-width: 270px;
}
.huhuhu {
  color: #04243d;
  margin-bottom: 20px;
}
.section_5_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
}
.footer {
  background-image: url(img/4835b561cb1cad1de0180f3a4b3b22d96e147a7d\(1\));
  background-repeat: no-repeat;
  background-size: cover;
}

.cpla {
  background-image: url(/img/3dff7b37622ef99a63eb95f6176fa90d20b2497c.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
}
.nimadi {
  margin-top: -140px;
}
.nimadi_wrapper {
  box-shadow: 0px 0px 15px 2px black;
}
.section_content {
  box-shadow: 0px 0px 15px 2px black;
  padding: 10px;
}
.section-3_content {
  box-shadow: 0px 0px 15px 2px black;
  text-align: center;
  padding: 10px;
}
.huhu {
  margin-left: 60px;
}
.section_5_content {
  box-shadow: 0px 0px 15px 2px black;
  padding: 10px;
  border-radius: 20px;
  margin-left: -20px;
}

.bola {
  box-shadow: 0px 0px 15px 2px black;
  padding: 10px;
  border-radius: 10px;
}
.whitw {
  color: white;
  font-size: 48px;
}
.cpla_content {
  text-align: center;
  vertical-align: middle;
}
.c {
  color: white;
  font-size: 30px;
}
.kiki{
  font-size: 20px;
}
.grwy{
  color: gray;
  margin-top: 20px;
}
.de{
  margin-right: 10px;
}
.ish{
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.borderre{
  border: 1px solid gray;
  border-radius: 30px;
  max-width: 500px;
}