* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 40px 20px;
}

a {
  list-style: none;
  text-decoration: none;
}

li {
  list-style: none;
  text-decoration: none;
}

.header_ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.iteam {
  color: #04243d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_2 {
  background-color: #04243d;
}

.a {
  color: white;
}

.header_2_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_2_ul {
  display: flex;
  align-items: center;
  gap: 30px;
}

.btn {
  border: none;
  list-style: none;
  text-decoration: none;
  background-color: #063050;
  color: white;
  padding: 20px 20px;
  border-radius: 10px;
}

.hero_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.p-1 {
  color: #ffffff;
  font-size: 36px;
}

.p-2 {
  color: white;
  max-width: 578px;
}

.btn-1 {
  color: #04243d;
  background-color: #ffffff;
  padding: 10px 20px;
  border: none;
  list-style: none;
  text-decoration: none;
  border-radius: 10px;
}

.btn-2 {
  border: 2px solid white;
  color: white;
  list-style: none;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #04243d;
  border-radius: 10px;
}

.hero {
  background-color: #04243d;
  padding: 200px 0px;
}

.color-1 {
  color: #04243d;
  font-size: 48px;
}

.color {
  color: #04243d;
}

.nimadi_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 40px;
  padding: 80px 200px;
  gap: 50px;
}

.nimadi_wrapper {
  margin-top: -230px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.p-1 {
  margin-bottom: 20px;
}
.p-2 {
  margin-bottom: 30px;
}
.nimadi_content {
  max-width: 212px;
  max-height: 189px;
}
.h-2 {
  font-size: 48px;
  color: #04243d;
}
.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nitter {
  background-color: #04243d;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  list-style: none;
  text-decoration: none;
}
.border {
  border: 5px solid #04243d;
  padding: 0px 30px;
  max-width: 10px;
}
.section_content {
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}
.with {
  color: #04243d;
  max-width: 324px;
  margin-top: 20px;
}
.with-1 {
  color: #04243d;
  font-size: 30px;
}
.section_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  margin-top: 100px;
}
.hehe {
  color: #04243d;
  max-width: 619px;
  font-size: 44px;
}
.section-2_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.huhu {
  color: #04243d;
  font-size: 22px;
  max-width: 142px;
}
.nini {
  color: #04243d;
  margin-top: 20px;
}
.section-3_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
}
.section-3_content {
  border-radius: 20px;
}
