* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 40px 20px;
}

a {
  list-style: none;
  text-decoration: none;
}

li {
  list-style: none;
  text-decoration: none;
}

.p-1 {
  color: #ffffff;
  font-size: 36px;
}

.p-2 {
  color: white;
  max-width: 578px;
}

.btn-1 {
  color: #04243d;
  background-color: #ffffff;
  padding: 10px 20px;
  border: none;
  list-style: none;
  text-decoration: none;
  border-radius: 10px;
}
.old{
  margin-left: 360px;
}

.btn-2 {
  border: 2px solid white;
  color: white;
  list-style: none;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #04243d;
  border-radius: 10px;
}

.hero {
  background-color: #04243d;
  padding: 200px 0px;
}
.header_2{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #0a2942; /* или ваш цвет */
  z-index: 1000;
  height: 130px; /* Вы можете подставить нужную вам высоту */
}
.main{
  padding-top: 130px;
}
.hero_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.color-1 {
  color: #04243d;
  font-size: 48px;
}

.color {
  color: #04243d;
}

.nimadi_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 40px;
  padding: 80px 200px;
  gap: 50px;
}

.nimadi_wrapper {
  margin-top: -70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.p-1 {
  margin-bottom: 20px;
}
.p-2 {
  margin-bottom: 30px;
}
.nimadi_content {
  max-width: 212px;
  max-height: 189px;
}
.h-2 {
  font-size: 48px;
  color: #04243d;
}
.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nitter {
  background-color: #04243d;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  list-style: none;
  text-decoration: none;
}
.border {
  border: 5px solid #04243d;
  padding: 0px 30px;
  max-width: 10px;
}
.section_content {
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}
.with {
  color: #04243d;
  max-width: 324px;
  margin-top: 20px;
}
.with-1 {
  color: #04243d;
  font-size: 30px;
}
.section_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  margin-top: 100px;
}
.hehe {
  color: #04243d;
  max-width: 619px;
  font-size: 44px;
}
.section-2_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.huhu {
  color: #04243d;
  font-size: 22px;
  max-width: 142px;
}
.nini {
  color: #04243d;
  margin-top: 20px;
}
.section-3_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
}
.section-3_content {
  border-radius: 20px;
}
.hero_niga {
  background-image: url(/img/6aaf081d30b8c4d36b4ddb47ac9ad7ae8badfebc.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
}
.niga_ing {
  max-width: 500px;
  max-height: 500px;
}

.nigerss {
  color: #04243d;
}
.ng-1 {
  max-width: 1249px;
}
.ng-2 {
  max-width: 954px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.ng-3 {
  max-width: 700px;
}
.section_4_wrapper {
  margin-top: 100px;
}
.blue {
  color: #04243d;
  margin-top: 20px;
}
.niggette {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
  text-align: center;
}
.border2 {
  border: 2px solid #04435e;
  max-width: 260px;
  margin-top: 30px;
  border-radius: 20px;
}
.ninini {
  max-width: 270px;
}
.huhuhu {
  color: #04243d;
  margin-bottom: 20px;
}

.section_5_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
}
.footer {
  background-image: url(img/4835b561cb1cad1de0180f3a4b3b22d96e147a7d\(1\));
  background-repeat: no-repeat;
  background-size: cover;
}

.cpla {
  background-image: url(/img/3dff7b37622ef99a63eb95f6176fa90d20b2497c.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
}
.nimadi {
  margin-top: -140px;
}
.nimadi_wrapper {
  box-shadow: 0px 0px 15px 2px gray;
}
.section_content {
  box-shadow: 0px 0px 10px 2px gray;
  padding: 10px;
}
.section-3_content {
  box-shadow: 0px 0px 15px 2px gray;
  text-align: center;
  padding: 10px;
}
.huhu {
  margin-left: 60px;
}
.section_5_content {
  box-shadow: 0px 0px 15px 2px gray;
  padding: 10px;
  border-radius: 20px;
  margin-left: -20px;
}

.bola {
  box-shadow: 0px 0px 15px 2px gray;
  padding: 10px;
  border-radius: 10px;
}
.whitw {
  color: white;
  font-size: 48px;
}
.cpla_content {
  text-align: center;
  vertical-align: middle;
}
.c {
  color: white;
  font-size: 30px;
}
.kiki {
  font-size: 20px;
}
.grwy {
  color: gray;
  margin-top: 20px;
}
.de {
  margin-right: 10px;
}
.ish {
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.nigetta {
  margin-left: 300px;
}
.itemitem {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 500px;
  border-top: 1px solid #000;
}
.aa_wrapper {
  box-shadow: 0px 0px 30px 2px gray;
  padding: 30px;
  border-radius: 20px;
}
.gild {
  color: #c0976b;
  font-size: 30px;
  max-width: 500px;
}
.niniga {
  color: black;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.grt {
  color: gray;
  max-width: 500px;
}
.gildd {
  color: #c0976b;
  font-size: 30px;
  margin-top: 30px;
}
.grtt {
  color: gray;
  margin-top: 20px;
}
.grttt {
  color: gray;
  margin-top: 20px;
  max-width: 400px;
}
.boxxx {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.gg_wrapper {
  box-shadow: 0px 0px 30px 2px gray;
  padding: 30px;
  border-radius: 20px;
}
.aa {
  margin-top: 100px;
}
.footer__list__inpu {
  color: black;
  font-size: 20px;
  margin-top: 20px;
}
.footer__bt {
  background-color: #04243d;
  color: white;
  padding: 15px 30px;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 150px;
}
.bol {
  font-size: 30px;
  color: #04243d;
  margin-bottom: 60px;
}
.jiji {
  margin-right: 10px;
}
.yy_wrapper {
  box-shadow: 0px 0px 30px 2px gray;
  padding: 20px 100px;
  border-radius: 20px;
  max-width: 600px;
  margin-left: 400px;
}
.yy {
  margin-top: 100px;
}
.cpla_content {
  margin-top: 150px;
}
.section_wrapper {
  overflow-x: scroll;
}
.section_5_wrapper {
  overflow-x: scroll;
  gap: 60px;
}
.section-3_wrapper {
  overflow-x: scroll;
  gap: 30px;
}
.fedya {
  width: 500px;
  margin-bottom: 20px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none; /* по умолчанию скрыто */
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  z-index: 999;
}

.modal.active {
  display: flex;
}
.modal__wrapper {
  position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    border: 2px gray solid;
    padding: 20px 30px;

    text-align: center;
    animation: fadeIn 0.3s ease-in-out;
}
.btn__modaal {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: #888;
  transition: color 0.3s;
}

.btn__modaal:hover{
  color: #000;
}
.modalniy{
  background-color: #04243d;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  list-style: none;
  text-decoration: none;
}
.text {
  font-size: 22px;
  color: #333;
  margin-top: 40px;
}
.a{
  text-decoration: none;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}


@media only screen and (max-width: 480px) {
  .header_2_ul {
    display: none;
  }
  .modal__wrapper{
    max-width: 400px;
  }
  .hero_wrapper {
    display: inline;
  }
  .niga_ing {
    max-width: 400px;
    max-height: 400px;
  }
  .bi-list{
    display: block;
    font-size: 35px;
    color: white;
  }
  .nimadi_wrapper {
    display: inline;
    max-width: 400px;
    max-height: 800px;
    box-shadow: none;
  }
  .nimadi {
    margin-top: 100px;
    margin-left: 100px;
  }
  .nimadi_content {
    margin-top: 50px;
    box-shadow: 0px 0px 30px 2px gray;
    padding: 30px;
    border-radius: 20px;
  }
  .nitter {
    display: none;
  }
  .section-2_wrapper {
    display: inline;
  }
  .hehe {
    font-size: 40px;
    max-width: 400px;
  }
  .okkk {
    max-width: 400px;
    max-height: 400px;
    margin-top: 100px;
  }
  .niggette {
    display: inline;
  }
  .bola {
    margin-top: 30px;
  }
  .okkk {
    max-width: 380px;
  }
  .niga_ing {
    max-width: 380px;
  }
  .h-2 {
    font-size: 30px;
  }
  .footer__ul {
    flex-direction: column;
  }

  .footer__li {
    margin-top: 70px;
  }
  .footer {
    padding-top: 0px;
  }
  .boxxx {
    display: inline;
  }
  .gg_wrapper {
    margin-top: 100px;
    padding: 20px;
  }
  .fedya {
    max-width: 360px;
    margin-left: 0px;
    margin-bottom: 15px;
    background-position: center;
  }
  .yy {
    margin-left: -390px;
  }
  .footer__bt {
    margin-left: 50px;
  }
  .aa_content {
    margin-left: -10px;
  }
}
.form-group {
  max-width: 400px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.icon-input {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #aaa;
  margin-bottom: 25px;
  padding-bottom: 8px;
}

.icon-input img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.icon-input input {
  border: none;
  outline: none;
  font-size: 20px;
  width: 100%;
}

.service-select label {
  color: #888;
  font-size: 16px;
}

.dropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #aaa;
  padding: 8px 0;
  cursor: pointer;
}

.dropdown span {
  font-size: 22px;
  font-weight: bold;
}

.dropdown img {
  width: 20px;
  height: 20px;
}
.yy_wrapper {
  box-shadow: 0px 0px 30px 2px gray;
  padding: 20px 100px;
  border-radius: 20px;
}


