.header {
    background-color: #04435E;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__img {
}
.header__menu {
    display: flex;
    align-items: center;
    gap: 60px;
}
.header__list {
}
.header__link {
    color: white;
}
.select__lg {
    color: white;
    width: 70px;
    height: 50px;
    background-color: #114C66;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}