.plastik {
  margin-top: 100px;
}
.container {
}
.plastik__img {
  width: 1272px;
  height: 715px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 5px gray;
  margin-left: 65px;
}

.plastik__info {
  margin-top: 30px;
}
.plastik__title {
  color: #04243d;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  letter-spacing: 0%;
  vertical-align: middle;
}
.plastik__menu {
  margin-top: 30px;
}
.plastik__list {
  margin-top: 40px;
}

.plastik__list__title {
  color: #04243d;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
}
.plastik__list__text {
  margin-top: 10px;
  color: #718492;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
 
  position: relative;
  z-index: 1;
}
.doctor__img {
  width: 110px;
}
.non{
  display: none;
}
.carusel {
  position: relative;
}

.old {
  background-color: white;
  color: black;
  border: 1px black solid;
  padding: 20px 20px;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: -21%;
cursor: pointer;
}
.idd {
}

.next {
  background-color: white;
  color: black;
  border: 1px black solid;
  padding: 20px 20px;
  border-radius: 50%;
  position: absolute;
  right: 5%;
  top: 51%;
  z-index: 2;
  cursor: pointer;
}

// .old2{
//   display: none;
// }
// .next2{
//   display: none;
// }

@media only screen and (max-width: 480px) {
  .plastik__img{
    max-width: 340px;
    max-height: 200px;
  margin-left: 20px;
  }
  // .old {
  //  display: none;
  // }
  // .next {
  //  display: none;
  // }
  .old{
   
    background-color: white;
    color: black;
    border: 1px black solid;
    padding: 10px 10px;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    top: 40%;
    left: -88%;
  cursor: pointer;

  }
  .next{
    display: block;
    background-color: white;
    color: black;
    border: 1px black solid;
    padding: 10px 10px;
    border-radius: 50%;
    position: absolute;
    right: 10%;
    top: 40%;
    z-index: 2;
    cursor: pointer;
  }
}




  
  
  
