.shikof__royhat {
}

.royhat__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.new{
    width: 300px;
    height: 296px;  
    margin-top: 50px;
}
.neww{
    margin-left: 15px;
}


@media only screen and (max-width: 480px) {
    .royhat__wrapper{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 40px;
    }

    
    
    
}