.xizmatlar{
    margin-top: 30px;
    background-color: rgb(250, 250, 250);
}
.xizmatlar__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.xizmatlar__card {
    width: 413.3299865722656px;
height: 418.489990234375px;
background-color: white;
border-radius: 10px;
margin-top: 50px;
box-shadow: 0px 0px 10px 2px black;
}
.xizmatlar__img {
    padding-top: 10px;
    width: 413px;
    height: 232px;
   border-radius: 10px;
   border-top-right-radius: 10px;
   border-top-left-radius: 10px;
}
.xizmatlar__title {
    font-family: Roboto;
font-weight: 500;
font-size: 20px;
line-height: 30px;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
color: #04243D;
}
.xizmatlar__text {
    margin-top: 10px;
    font-family: Roboto;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0%;
vertical-align: middle;
color: #04243D;
text-align: center;
}
.xizmatlar__info {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.xizmatlar__name {
    font-weight: 500;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #04243D;

}
.xizmatlar__price {
    font-weight: 700;
    margin-top: 10px;
    font-family: Roboto;
padding-bottom: 10px;
font-size: 18px;
line-height: 24px;
letter-spacing: 0%;
vertical-align: middle;
color: #000000;
text-align: center;
}
.new__img{
    width: 270px;
    height: 150px

}

@media only screen and (max-width: 480px) {
    .xizmatlar__wrapper{
      display: flex;
      flex-direction: column;
    }
    .xizmatlar__card{
        max-width: 380px;
    }
    .xizmatlar__img{
        max-width: 380px;
    }
    .doctors__btn{
        display: none;
    }
  
    
  }